@import '../../assets/styles/variables';

.poster-img {
	border: 1px solid $color-black;
	box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
	max-width: 300px;
	max-height: 350px;
}

@media only screen and (max-width: $lg) {
	.poster-img {
		margin: 8px;
		max-width: 250px;
		max-height: 230px;
	}
}

@media only screen and (max-width: $sm) {
	.poster-img {
		max-height: 175px;
		max-width: 140px;
	}
}
