@import '../../assets/styles/variables';

.loader-emoji {
	display: flex;
	justify-content: center;
	font-size: $font-size-xxl;
	animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
