@import '../../assets/styles/variables';

.home-mobile-container {
	background-color: $color-beige;
	width: auto;
	height: 100vh;

	a {
		text-decoration: none;
		color: white;
	}

	.home-mobile-title {
		color: $color-dark-pink;
		font-family: 'Urbanist', sans-serif;
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		margin: 16px;
	}

	.home-mobile-subtitle {
		margin: 16px;
		color: $color-dark-blue;
		font-family: 'Oxygen', sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}

@media only screen and (min-width: $md) and (max-width: $lg) {
	.home-mobile-container {
		padding: 50px 150px;
	}
}
@media only screen and (min-width: $lg) {
	.home-mobile-container {
		padding: 50px 300px;
	}
}
