@import '../../assets/styles/variables';

.streaming-container {
	display: flex;
	gap: 8px;
}

.streaming-logo {
	width: 40px;
	border-radius: 4px;
	box-shadow: none;
	border: none;
}

@media only screen and (max-width: $lg) {
	.streaming-logo {
		width: 35px;
	}
}

@media only screen and (max-width: $sm) {
	.streaming-logo {
		width: 30px;
	}
}
