// FONTS
$main-font: 'Playfair Display';

// SCREEN SIZES
$sm: 300px;
$lg: 860px;

// COLORS
$color-background-gray: #e5e5e5;
$color-black: #25282b;
$color-yellow: #fdc435;

// FONT SIZES
$font-size-xs: 12px;
$font-size-sm: 16px;
$font-size-md: 24px;
$font-size-lg: 64px;
