// FONTS
$main-font: 'Playfair Display';

// SCREEN SIZES
$md: 600px;
$lg: 1200px;

// COLORS
$color-background-gray: #e5e5e5;
$color-black: #25282b;
$color-yellow: #fdc435;

// NEW COLORS
$color-beige: #f4e9eb;
$color-light-pink: #ecaebb;
$color-medium-pink: #e78097;
$color-dark-pink: #e35d7c;
$color-bright-pink: #db3259;
$color-light-blue: #e4eefd;
$color-medium-blue: #a1c2f3;
$color-dark-blue: #03193a;

// FONT SIZES
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg: 24px;
$font-size-xl: 36px;
$font-size-xxl: 48px;
$font-size-xxxl: 64px;
