// FONTS
$main-font: 'Playfair Display';

// SCREEN SIZES
$sm: 500px;
$lg: 1100px;

// COLORS
$color-background-gray: #e5e5e5;
$color-black: #25282b;
$color-yellow: #fdc435;

// FONT SIZES
$font-size-xs: 12px;
$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 24px;
$font-size-xl: 34px;
$font-size-xxl: 48px;
$font-size-xxxl: 64px;
